
# Sample environment file for the project

# This is a sample .env file that should be copied to a .env file in the root of the project
# **CAUTION:** The `.env`  file should not be checked into source control

## These are the credentials that can be found on the Azure app portal App services page (see pmd-utils sharepoint integration documentation)
AZURE_TENANT_ID=fakeid1234325345
AZURE_CLIENT_SECRET=fakekey123453466
AZURE_CLIENT_ID=113545fakeclientid


## These are the links to google service account credentials and oauth credentials
## These can be found in the google cloud console under the service account and oauth credentials sections (see pmd-utils google drive integration documentation)
GOOGLE_SERVICE_ACCOUNT_CREDENTIALS=.google/service-account.json
GOOGLE_OAUTH_CREDENTIALS=.google/oauth-credentials.json

## these are the params for the sharepoint integration to get the appropriate sharepoint site directory
SHAREPOINT_SITE_NAME = "9877"
SHAREPOINT_IBM_SITE_NAME = "9877-IBM"
SHAREPOINT_SPEC_PATH = "/General/Questionnaire Programming/Specs/Generic Quex Specs Template/temp-specs-docs-with-recs/test"